body
{
	font-family: 'Raleway', Verdana, sans-serif;
	background-image: url("../images/bgFade.png");
	background-position-y: -20em;
}

#container{
	width: 400px;
	height: 600px;
}

#register
{
	font-family: 'Raleway', Verdana, sans-serif;
	background-image: url("../images/bgFade.png");
	background-position-y: -15em;
}

#logo
{
	background-image: url("../images/logo.png");
	display: block;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 85%;
	text-indent: -9999px;
	margin-left: auto;
	margin-right: auto;
	width: 150px;
	height: 150px;
	background-color: transparent;
}

#logoZonderTekst
{
	background-image: url("../images/logoZonderTekst.png");
	display: block;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 85%;
	text-indent: -9999px;
	margin-left: auto;
	margin-right: auto;
	width: 80px;
	height: 80px;
	background-color: transparent;
	margin-left: 0.1em;
}

#logout
{
	background-image: url("../images/logout.png");
	display: block;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 85%;
	text-indent: -9999px;
	margin-left: auto;
	margin-right: auto;
	width: 80px;
	height: 80px;
	background-color: transparent;
	float: right;
	margin-left: 14em;
}

#aanbieding:link,
#aanbieding:visited,
#aanbieding:hover,
#aanbieding:active
{
	background-image: url("../images/aanbieding.png");
	display: block;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 75%;
	text-indent: -9999px;
	margin-left: auto;
	margin-right: auto;
	width: 80px;
	background-color: #c24445;
	padding-left: 8%;
	padding-right: 8%;
	border: solid 1px white;
}

#aanbieding:hover
{
	background-color: #edab39;
}

#inruilshop:link,
#inruilshop:visited,
#inruilshop:hover,
#inruilshop:active
{
	background-image: url("../images/inruilshop.png");
	display: block;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 90%;
	text-indent: -9999px;
	margin-left: auto;
	margin-right: auto;
	width: 80px;
	height: 80px;
	background-color: #c24445;
	padding-left: 8%;
	padding-right: 8%;
	border: solid 1px white;
}

#inruilshop:hover
{
	background-color: #edab39;
}

#ranking:link,
#ranking:visited,
#ranking:hover,
#ranking:active
{
	background-image: url("../images/ranking.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 50%;
	text-indent: -9999px;
	width: 80px;
	height: 80px;
	background-color: #c24445;
	padding-left: 8%;
	padding-right: 8%;
	border: solid 1px white;
}

#ranking:hover
{
	background-color: #edab39;
}

#account:link,
#account:visited,
#account:hover,
#account:active
{
	background-image: url("../images/account.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 50%;
	text-indent: -9999px;
	width: 80px;
	height: 80px;
	background-color: #c24445;
	padding-left: 8%;
	padding-right: 8%;
	border: solid 1px white;
}

#account:hover
{
	background-color: #edab39;
}

#bottomLine
{
	background-color: #edab39;
	position: relative;
	border: none;
	height: 10px;
	bottom: 0;
	z-index: 1;
	overflow: hidden;
}

header
{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

nav
{
	width: 100%;
	display: flex;
	justify-content: space-between;
	position: absolute;
	bottom: 0;
}

.aanbieding
{
	background-image: url("../images/line.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100%;
	color: white;
	display: flex;
	justify-content: space-around;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-top: 5%;
}

h1
{
	color: #c24445;
	text-align: center;
	margin-bottom: 2em;
}

#containerRegister
{
	text-align: center;
	margin-top: 15%;
}

input
{
	font-size: 100%;
	margin-bottom: 2em;
	background: transparent;
	border: none;
	border-bottom: 1px solid black;
}

button
{
	font-size: 100%;
	background-color: #c24445;
	color: white;
	border-radius: 15px;
	border: none;
	padding-left: 2em;
	padding-right: 2em;
	margin-bottom: 2em;
}

#here
{
	color: #c24445;
	text-decoration: none;
}

.shopItem
{
	display: inline-block;
	text-align: center;
	width: 129px;
	height: 100px;
	background-color: #c24445;
	color: white;
	margin-left: 1px;
	margin-top: 3px;
}

#pijl:link,
#pijl:visited,
#pijl:hover,
#pijl:active
{
	background-image: url("../images/pijl.png");
	background-repeat: no-repeat;
	background-position: 100% 50%;
	background-size: 50%;
	text-indent: -9999px;
	width: 50px;
	height: 50px;
	background-color: #c24445;
	padding-left: 8%;
	padding-right: 8%;
}

p
{
	padding-top: 3%;
}







